<article class="module width_full" id="${id}">
	<header><h3>Command OpenWebNet</h3></header>
	<div class="message_list">
		<div class="module_content" data-dojo-attach-point="containerNode" id="messageList_${id}">
		</div>
	</div>
	<footer>
		<form class="post_message">
			<input type="text" value="*1*0*13##" data-dojo-attach-event="onfocus:_onFocus"id="message_${id}"/>
			<input type="button" class="btn_post_message" value="" data-dojo-attach-event="onclick:_onClick"/>
		</form>
	</footer>
</article>